.DS_Store

age.agekey

/logs/*
!/logs/.gitkeep

/opentofu/opentofu.tfvars
/opentofu/.terraform.tfstate.lock.info
*kubeconfig*
*/.env

*.tfstate
*.tfstate.backup
*.tfvars

.terraform
.terraform.lock.hcl
terraform.*.backup

ansible/inventory.tf.yml
