namespace: netbird

resources:
  - ../../base/netbird/
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - grpcroute.yaml
  - httproute.yaml
  - serverstransport.yaml

images:
  - name: netbirdio/management
    newTag: 0.61.0
  - name: netbirdio/relay
    newTag: 0.61.0
  - name: netbirdio/signal
    newTag: 0.61.0

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: netbird-management
    path: management-env-patch.yaml

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: netbird-relay
    path: relay-env-patch.yaml


  # this Service patch is needed because there is a discrepancy between port names for TCP/33080 in Helm chart.
  # It is called "http" in one place and "websocket" in another.
  - target:
      version: v1
      kind: Service
      name: netbird-relay
    patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: netbird-relay
        namespace: netbird
      spec:
        ports:
          - port: 33080
            targetPort: websocket
            protocol: TCP
            name: websocket
          - port: 9090
            targetPort: metrics
            protocol: TCP
            name: metrics

  # Configure timeout for long-lived gRPC Signal streams
  - target:
      version: v1
      kind: Service
      name: netbird-signal
    patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: netbird-signal
        namespace: netbird
        annotations:
          traefik.ingress.kubernetes.io/service.serverstransport: netbird-signal-transport
