namespace: netbird

resources:
  - ../../base/netbird/
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: netbird-management
    path: management-env-patch.yaml

  - target:
      group: apps
      version: v1
      kind: Deployment
      name: netbird-relay
    path: relay-env-patch.yaml
