apiVersion: v1
kind: ConfigMap
metadata:
    name: authelia
    namespace: authelia
data:
    configuration.yaml: |
        theme: 'dark'
        default_2fa_method: 'totp'
        server:
          address: 'tcp://0.0.0.0:9091/'
          asset_path: ''
          headers:
            csp_template: ""
          buffers:
            read: 4096
            write: 4096
          timeouts:
            read: '6 seconds'
            write: '6 seconds'
            idle: '30 seconds'
          endpoints:
            enable_pprof: false
            enable_expvars: false
            authz:
              auth-request:
                implementation: 'AuthRequest'
              ext-authz:
                implementation: 'ExtAuthz'
              forward-auth:
                implementation: 'ForwardAuth'
        log:
          level: 'info'
          format: 'text'
          file_path: ''
          keep_stdout: true
        telemetry:
          metrics:
            enabled: false
        identity_validation:
          elevated_session:
            code_lifespan: '5 minutes'
            elevation_lifespan: '10 minutes'
            characters: 8
            require_second_factor: false
            skip_second_factor: false
          reset_password:
            jwt_lifespan: '5 minutes'
            jwt_algorithm: 'HS256'
        totp:
          disable: false
          issuer: 'Authelia'
          skew: 1
          secret_size: 32
          algorithm: 'SHA1'
          digits: 6
          period: 30
          allowed_algorithms:
            - 'SHA1'
          allowed_digits:
            - 6
          allowed_periods:
            - 30
        webauthn:
          disable: true
          enable_passkey_login: false
          display_name: 'Authelia'
          attestation_conveyance_preference: 'indirect'
          timeout: '60 seconds'
          filtering:
            permitted_aaguids: []
            prohibited_aaguids: []
            prohibit_backup_eligibility: false
          selection_criteria:
            attachment: ''
            discoverability: 'preferred'
            user_verification: 'preferred'
          metadata:
            enabled: false
            cache_policy: 'strict'
            validate_trust_anchor: true
            validate_entry: true
            validate_entry_permit_zero_aaguid: false
            validate_status: true
            validate_status_permitted: []
            validate_status_prohibited: []
        ntp:
          address: 'udp://time.cloudflare.com:123'
          version: 4
          max_desync: '3 seconds'
          disable_startup_check: false
          disable_failure: false
        authentication_backend:
          file:
            path: /usersdata/users-database.yaml
          password_reset:
            disable: false
            custom_url: ''
          password_change:
            disable: false
          refresh_interval: '5 minutes'
        password_policy:
          standard:
            enabled: false
            min_length: 8
            max_length: 0
            require_uppercase: false
            require_lowercase: false
            require_number: false
            require_special: false
          zxcvbn:
            enabled: false
            min_score: 0
        session:
          name: 'authelia_session'
          same_site: 'lax'
          inactivity: '5 minutes'
          expiration: '1 hour'
          remember_me: '1 month'
          cookies:
            - name: authelia_session
              domain: fingol.pro
              authelia_url: https://auth.fingol.pro
        regulation:
          modes:
          - 'user'
          max_retries: 3
          find_time: '2 minutes'
          ban_time: '5 minutes'
        storage:
          local:
            path: /databases/db.sqlite3
        notifier:
          disable_startup_check: false
          filesystem:
            filename: '/config/notification.txt'
        identity_providers:
          oidc:
            enabled: true
            hmac_secret: {{ secret "/config/secrets/identity_provider.oidc.hmac_secret.key" | msquote }}
            jwks:
              - key_id: default
                algorithm: 'RS256'
                use: 'sig'
                key: {{ secret "/config/secrets/identity_providers.oidc.jwks.key" | mindent 8 "|" | msquote }}
                certificate_chain: {{ secret "/config/secrets/identity_providers.oidc.jwks.cert" | mindent 8 "|" | msquote }}
          cors:
            allowed_origins_from_client_redirect_uris: true
            endpoints: [ userinfo, authorization, token, revocation, introspection ]
          clients:
            - client_id: netbird
              client_secret: {{ secret "/config/secrets/identity_providers.clients.netbird.client_secret.key" | msquote }}
              client_name: NetBird
              public: false
              authorization_policy: two_factor
              pre_configured_consent_duration: 1 month
              require_pkce: true
              pkce_challenge_method: S256
              audience: [ netbird ]
              redirect_uris:
                - http://localhost:53000
                - https://netbird.fingol.pro/callback
                - https://netbird.fingol.pro/silent-callback
              scopes: [ openid, profile, email, offline_access ]
              token_endpoint_auth_method: client_secret_post
        access_control:
          default_policy: 'two_factor'
