apiVersion: apps/v1
kind: Deployment
metadata:
  name: authelia
  namespace: authelia
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authelia
  template:
    metadata:
      labels:
        app: authelia
    spec:
      enableServiceLinks: false
      containers:
        - name: authelia
          image: authelia/authelia:4
          volumeMounts:
            - name: authelia-data
              mountPath: /config
            - name: configuration-file
              mountPath: /config/configuration.yml
              subPath: configuration.yml
              readOnly: true
            - name: authelia-users
              mountPath: /config/users_database.yml
              subPath: users_database.yml
              readOnly: true
          ports:
            - containerPort: 9091
      volumes:
        - name: configuration-file
          configMap:
            name: authelia-config
        - name: authelia-users
          configMap:
            name: authelia-users
        - name: authelia-data
          emptyDir: {}
