resources:
  - ../../base/authelia
  - namespace.yaml
  - httproute.yaml
  - users-database.yaml
  - configuration.yaml

patches:
  - target:
      kind: DaemonSet
      name: authelia
    patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: authelia
        namespace: authelia
      spec:
        template:
          spec:
            containers:
              - name: authelia
                volumeMounts:
                  - name: authelia-users
                    mountPath: /usersdata/users-database.yaml
                    subPath: users-database.yaml
                    readOnly: true
                  - name: authelia-data
                    mountPath: /databases
            volumes:
              - name: authelia-users
                configMap:
                  name: authelia-users
                  items:
                    - key: users-database.yaml
                      path: users-database.yaml
              - name: authelia-data
                emptyDir: {}
