namespace: crowdsec

resources:
  - ../../base/crowdsec/
  - namespace.yaml
  - secrets.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: crowdsec-agent
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: COLLECTIONS
          value: crowdsecurity/traefik
