namespace: crowdsec

resources:
  - ../../base/crowdsec/
  - namespace.yaml
  - secrets.yaml

patches:
#  - target:
#      group: apps
#      version: v1
#      kind: Deployment
#      name: crowdsec-lapi
#    patch: |
#      - op: add
#        path: /spec/template/spec/containers/0/env/-
#        value:
#          name: ENROLL_KEY
#          valueFrom:
#            secretKeyRef:
#              name: crowdsec-lapi-secrets
#              key: enrollment_key

#      - op: add
#        path: /spec/template/spec/containers/0/env/-
#        value:
#          name: ENROLL_INSTANCE_NAME
#          value: fingolpro-ext

 #     - op: add
 #       path: /spec/template/spec/containers/0/env/-
 #       value:
 #         name: ENROLL_TAGS
 #         value: "k8s traefik vpn"

  - target:
      group: apps
      version: v1
      kind: DaemonSet
      name: crowdsec-agent
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: COLLECTION
          value: crowdsecurity/traefik
