providers:
  kubernetesGateway:
    enabled: true

logs:
  access:
    enabled: true

gateway:
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
#    websecure:
#      port: 8443
#      protocol: HTTPS
#      namespacePolicy:
#        from: All

ingressRoute:
  dashboard:
    enabled: true
