- name: Configure external K3S cluster
  hosts: localhost
  gather_facts: false
  connection: local
  environment:
    - K8S_AUTH_KUBECONFIG: '{{ playbook_dir }}/../../.kubeconfig-external'
    - KUBECONFIG: '{{ playbook_dir }}/../../.kubeconfig-external'
  vars:
    gateway_crd_local_path: '{{ playbook_dir }}/gateway-api-crd.yml'
  tasks:
    - name: Add a repository
      kubernetes.core.helm_repository:
        name: stable
        repo_url: https://traefik.github.io/charts

    - name: Download Gateway API CRDs  manifest to the cluster.
      ansible.builtin.get_url:
        url: https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.4.1/standard-install.yaml
        dest: '{{ gateway_crd_local_path }}'
        mode: '0664'

    - name: Apply Gateway API CRDs
      kubernetes.core.k8s:
        state: present
        src: '{{ gateway_crd_local_path }}'
        apply: true

    - name: Delete local CRDs YAML
      file:
        path: '{{ gateway_crd_local_path }}'
        state: absent

#    Incomplatible with Helm v4; use cmd task instead
#
#    - name: Install Traefik with Gateway enabled
#      kubernetes.core.helm:
#        name: traefik
#        chart_ref: traefik/traefik
#        chart_version: 38.0.1
#        namespace: traefik
#        create_namespace: true
#        update_repo_cache: true
#        set_values: 
#          - value: providers.kubernetesGateway.enabled=true
#            value_type: raw
#          - value: logs.access.enabled=true
#            value_type: raw

    - name: Install Traefik with Gateway enabled
      ansible.builtin.command:
        cmd: 'helm install traefik traefik/traefik --version=38.0.1 --namespace traefik --create-namespace -f {{ playbook_dir }}/../../kubernetes/traefik/values.yaml'
      register: result
      failed_when: result.rc != 0        
