apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik-ext
resources:
  - namespace.yaml
  - rbac.yaml
  - ../../base/traefik/

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                args:
                  - "--entryPoints.web.address=:8000/tcp"
                  - "--entryPoints.websecure.address=:8443/tcp"
                  - "--entryPoints.traefik.address=:9000/tcp"
                  - "--api=true"
                  - "--api.dashboard=true"
                  - "--ping=true"
                  - "--providers.kubernetescrd"
                  - "--providers.kubernetescrd.allowCrossNamespace=true"
                  - "--certificatesresolvers.myresolver.acme.storage=/data/acme.json"
                  - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
                  - "--certificatesresolvers.myresolver.acme.email=jakub.hajek+webinar@traefik.io"
                  - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
                  - "--providers.kubernetesgateway=true"
                  - "--providers.kubernetesgateway.endpoint=http://localhost:8080"
