apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik-ext
resources:
  - namespace.yaml
  - gateway.yaml
  - gatewayclass.yaml
  - rbac.yaml
  - dashboard-service.yaml
  - dashboard-httproute.yaml
  - ../../base/traefik/

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                args:
                  - "--entryPoints.web.address=:80/tcp"
                  - "--entryPoints.websecure.address=:443/tcp"
                  - "--entryPoints.traefik.address=:8080/tcp"
                  - "--api=true"
                  - "--api.dashboard=true"
                  - "--api.insecure=true"
                  - "--ping=true"
                  - "--providers.kubernetescrd"
                  - "--providers.kubernetescrd.allowCrossNamespace=true"
                  - "--certificatesresolvers.myresolver.acme.storage=/data/acme.json"
                  - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
                  - "--certificatesresolvers.myresolver.acme.email=jakub.hajek+webinar@traefik.io"
                  - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
                  - "--providers.kubernetesgateway=true"
