apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik-ext
resources:
  - namespace.yaml
  - gateway.yaml
  - gatewayclass.yaml
  - rbac.yaml
  - secret.yaml
  - dashboard.yaml
  - pvc.yaml
  - middlewares.yaml
  - ../../base/traefik/

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                args:
                  - "--entryPoints.web.address=:80/tcp"
                  - "--entryPoints.websecure.address=:443/tcp"
                  - "--entryPoints.traefik.address=:8080/tcp"
                  - "--entryPoints.web.http.redirections.entrypoint.to=websecure"
                  - "--entryPoints.web.http.redirections.entrypoint.scheme=https" 
                  - "--entryPoints.web.http.redirections.entrypoint.permanent=true"
                  - "--api=true"
                  - "--api.dashboard=true"
                  - "--ping=true"
                  - "--global.sendAnonymousUsage=false"
                  - "--global.checkNewVersion=false"
                  - "--pilot.dashboard=false"
                  - "--providers.kubernetescrd"
                  - "--providers.kubernetescrd.allowCrossNamespace=true"
                  - "--providers.kubernetesgateway=true"
                  - "--accesslog=true"
                  - "--accesslog.format=json"
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            volumes:
            - $patch: replace
            - name: data
              persistentVolumeClaim:
                claimName: local-path-pvc
            - name: tmp
              emptyDir: {}

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                ports:
                - $patch: replace
                - name: web
                  containerPort: 80
                  protocol: TCP
                - name: websecure
                  containerPort: 443
                  protocol: TCP
                - name: metrics
                  containerPort: 9100
                  protocol: TCP
                - name: traefik
                  containerPort: 8080
                  protocol: TCP

