apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik-ext
resources:
  - namespace.yaml
  - gateway.yaml
  - gatewayclass.yaml
  - rbac.yaml
  - secret.yaml
  - dashboard.yaml
  - pvc.yaml
  - ../../base/traefik/

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                args:
                  - "--entryPoints.web.address=:8000/tcp"
                  - "--entryPoints.websecure.address=:8443/tcp"
                  - "--entryPoints.traefik.address=:8080/tcp"
                  - "--api=true"
                  - "--api.dashboard=true"
                  - "--ping=true"
                  - "--providers.kubernetescrd"
                  - "--providers.kubernetescrd.allowCrossNamespace=true"
                  - "--certificatesresolvers.myresolver.acme.storage=/data/acme.json"
                  - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
                  - "--certificatesresolvers.myresolver.acme.email=admin@tsal.al"
                  - "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
                  - "--providers.kubernetesgateway=true"
                  - "--accesslog=true"
                  - "--accesslog.format=json"
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            volumes:
            - $patch: replace
            - name: data
              persistentVolumeClaim:
                claimName: local-path-pvc
            - name: tmp
              emptyDir: {}
