apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik-ext
resources:
  - namespace.yaml
  - gateway.yaml
  - gatewayclass.yaml
  - rbac.yaml
  - dashboard.yaml
  - pvc.yaml
  - middlewares.yaml
  - grants.yaml
  - secrets.yaml
  - ../../base/traefik/

patches:
  # we bind Traefik directly to host network, no need for a Service
  - patch: |-
      $patch: delete
      apiVersion: v1
      kind: Service
      metadata:
        name: traefik
        namespace: traefik

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik-ext
      spec:
        template:
          spec:
            containers:
            - name: traefik
              securityContext:
                $patch: delete

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            hostNetwork: true
            dnsPolicy: ClusterFirstWithHostNet
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              runAsNonRoot: false
              seccompProfile:
                type: Unconfined
            containers:
              - name: traefik
                args:
                  - "--entryPoints.web.address=:80/tcp"
                  - "--entryPoints.websecure.address=:443/tcp"
                  - "--entryPoints.traefik.address=:8080/tcp"
                  - "--entryPoints.web.http.redirections.entrypoint.to=websecure"
                  - "--entryPoints.web.http.redirections.entrypoint.scheme=https" 
                  - "--entryPoints.web.http.redirections.entrypoint.permanent=true"
                  - "--api=true"
                  - "--api.dashboard=true"
                  - "--ping=true"
                  - "--global.sendAnonymousUsage=false"
                  - "--global.checkNewVersion=false"
                  - "--providers.kubernetescrd"
                  - "--providers.kubernetescrd.allowCrossNamespace=true"
                  - "--providers.kubernetesgateway=true"
                  - "--accesslog=true"
                  - "--accesslog.format=json"
                  - "--experimental.plugins.bouncer.modulename=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
                  - "--experimental.plugins.bouncer.version=v1.4.6"
                volumeMounts:
                  - name: plugins-storage
                    mountPath: /plugins-storage
                  - name: bouncer-lapi-secret
                    mountPath: /lapisecret
                    readOnly: true

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            volumes:
            - $patch: replace
            - name: data
              persistentVolumeClaim:
                claimName: local-path-pvc
            - name: tmp
              emptyDir: {}
            - name: plugins-storage
              persistentVolumeClaim:
                claimName: plugins-storage-pvc
            - name: bouncer-lapi-secret
              secret:
                secretName: bouncer-lapi-secret

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: traefik
        namespace: traefik
      spec:
        template:
          spec:
            containers:
              - name: traefik
                ports:
                - $patch: replace
                - name: web
                  containerPort: 80
                  protocol: TCP
                - name: websecure
                  containerPort: 443
                  protocol: TCP
                - name: metrics
                  containerPort: 9100
                  hostPort: 9100
                  protocol: TCP
                - name: traefik
                  containerPort: 8080
                  protocol: TCP

 
