# Define all 
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute # HTTPRoute from Gateway API does not support references to ExternalName services, and probably never will
metadata:
  name: vpn-ingressroute
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`scrobbler.fingol.pro`)
      middlewares:
      - name: bouncer
        namespace: traefik-ext
      kind: Rule
      services:
      - name: koito-vpn
        kind: Service
  tls:
    secretName: letsencrypt-dns-wildcard-cert
