# Define all 
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute # HTTPRoute from Gateway API does not support references to ExternalName services, and probably never will
metadata:
  name: vpn-ingressroute
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`scrobbler.fingol.pro`)
      middlewares:
      - name: bouncer
        namespace: traefik-ext
      - name: vpn-host-rewrite
        namespace: traefik-ext
      kind: Rule
      services:
      - name: koito-vpn
        kind: Service
        scheme: https
        port: 443
  tls:
    secretName: letsencrypt-dns-wildcard-cert
---
apiVersion: v1
kind: Service
metadata:
  name: koito-vpn
spec:
  type: ExternalName
  externalName: koito.vpn.fingol.pro
  ports:
    - name: https
      port: 443
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: vpn-host-rewrite
spec:
  headers:
    customRequestHeaders:
      Host: koito.vpn.fingol.pro
