all:
  vars:
    ansible_user: ${cloud_init_username}
    ansible_ssh_common_args: -o StrictHostKeyChecking=no
    k3s_version: ${k3s_version}
    k3s_token: ${k3s_token}

k3s_cluster:
  children:
    control_plane:
      hosts:
%{ for index, hostname in control_plane_hostnames ~}
        ${hostname}:
          ansible_host: ${control_plane_ips[index]}
%{endfor ~}

    workers:
      hosts:
%{ for index, hostname in worker_hostnames ~}
        ${hostname}:
          ansible_host: ${worker_ips[index]}
%{endfor ~}


