apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - ../../base/authentik/

patches:
  - path: secret-patch.yaml
    target:
      kind: Secret
      name: authentik
      namespace: "authentik"
  - path: secret-pgsql-patch.yaml
    target:
      kind: Secret
      name: authentik-postgresql
      namespace: authentik
