apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authentik
resources:
  - namespace.yaml
  - ../../base/authentik/
  - authentik-blueprints.yaml

patches:
  - target:
      kind: Secret
      name: authentik
      namespace: authentik
    path: secret-patch.yaml

  - target:
      kind: Secret
      name: authentik-postgresql
      namespace: authentik
    path: secret-pgsql-patch.yaml

  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: authentik-worker
        namespace: authentik
      spec:
        template:
          spec:
            volumes:
              - name: blueprints-custom
                configMap:
                  name: authentik-blueprints
              - name: blueprints-override-default-auth-flow
                configMap:
                  name: authentic-blueprint-default-authentication-flow 
            containers:
              - name: worker
                volumeMounts:
                  - name: blueprints-custom
                    mountPath: /blueprints/custom
                    readOnly: true
                  - name: blueprints-override-default-auth-flow
                    mountPath: /blueprints/default/flow-default-authentication-flow.yaml
                    subPath: flow-default-authentication-flow.yaml
                    readOnly: true
