- name: "{{ namespace }} - Get deployments"
  command: kubectl get deployments -n {{ namespace }} -o json --kubeconfig {{ kubeconfig_path }}
  register: deployments_raw
  changed_when: false

- name: "{{ namespace }} - Parse deployments"
  set_fact:
    deployments: "{{ deployments_raw.stdout | from_json | json_query('items') }}"

- name: "{{ namespace }} - Scale down deployments"
  command: kubectl scale deployment {{ item.metadata.name }} -n {{ namespace }} --replicas=0 --kubeconfig {{ kubeconfig_path }}
  loop: "{{ deployments }}"
  loop_control:
    label: "{{ item.metadata.name }}"

- name: Get PVCs of the namespace
  command: kubectl get pvc -o json -n {{ namespace }} --kubeconfig {{ kubeconfig_path }}
  register: pvcs
  changed_when: false

- name: "{{ namespace }} - Filter PVCs that have k8up.io/backup annotation set to"
  set_fact:
    pvcs_filtered: >-
      {{ pvcs.stdout | from_json | json_query('items[?metadata.annotations."k8up.io/backup"]') }}

- name: Show a filtered list of PVCs from selected namespace that are to be backed up
  debug:
    msg: "{{ item.metadata.name }}"
  loop: "{{ pvcs_filtered }}"
  loop_control:
    label: "pvc"

- name: "{{ namespace }} - Wait for pods to terminate"
  command: kubectl wait --for=delete pod -l app.kubernetes.io/name={{ namespace }} -n {{ namespace }} --timeout=120s --kubeconfig {{ kubeconfig_path }}
  ignore_errors: true

- name: "{{ namespace }} - Restore each application"
  include_tasks: restore-pvc.yml
  loop: "{{ pvcs_filtered }}"
  loop_control:
    loop_var: pvc
    label: "{{ pvc.metadata.name }}"

- name: "{{ namespace }} - Wait for filesystem sync"
  pause:
    seconds: 30

- name: "{{ namespace }} - Scale up deployments"
  command: kubectl scale deployment {{ item.metadata.name }} -n {{ namespace }} --replicas={{ item.spec.replicas | default(1) }} --kubeconfig {{ kubeconfig_path }}
  loop: "{{ deployments }}"
  loop_control:
    label: "{{ item.metadata.name }}"
