#
# Usage:
# ansible-playbook -i inventory.tf.yml k8up-int-restore-app.yml -e "namespace=jellyfin" 
#
# Namespace is required.
#

- name: Restore a K8up backed up application
  hosts: localhost
  gather_facts: true
  vars:
    kubeconfig_path: "{{ playbook_dir }}/../.kubeconfig-internal"
    namespace: ""
  pre_tasks:
    - name: Validate namespace is provided
      fail:
        msg: "namespace is required: -e 'namespace=jellyfin'"
      when: namespace == ""

    - name: Confirm restore
      pause:
        prompt: "Are you sure you want to destroy the data currently existing in PVCs? (yes/no)"
      register: confirm_restore

    - name: End the play if rejected
      ansible.builtin.meta: end_host
      when:
      - confirm_restore.user_input  != 'yes'

    - name: Get schedule for backend config
      command: kubectl get schedules.k8up.io -n {{ namespace }} -o json --kubeconfig {{ kubeconfig_path }}
      register: schedule_raw
      changed_when: false

    - name: Parse schedule
      set_fact:
        schedule: "{{ schedule_raw.stdout | from_json | json_query('items') }}"

    - name: Fail if no schedule found
      fail:
        msg: "No K8up Schedule found in namespace {{ namespace }}"
      when: schedule | length == 0
  roles:
    - k8up-restore


