---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
resources:
  - ../../base/crds/traefik-crds.readonly.yaml
  - ../../base/crds/cert-manager-crds.readonly.yaml
  - ../../base/crds/volsync-crds.readonly.yaml
